* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.nav__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
}

.nav__section img {
  width: 100%;
  max-width: 200px;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__menu li ~ li {
  margin-left: 15px;
}

.nav__menu a {
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.42);
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 7px;
  font-size: 12px;
}

.nav__menu a:hover {
  background-color: #ef3a5d;
}

.header__banner {
  background-image: url(../imgs/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  max-height: 100%;
  background-position-y: -95px;
}

.select__section {
  background-color: #fff;
  width: 40%;
  height: 250px;
  border-radius: 20px;
  margin: -180px auto;
  opacity: 0.9;
  padding: 40px 40px 0px 40px;
  margin-bottom: 40px;
}

.select__card {
  width: 80%;
  margin: 0 auto;
}

.select__card h1 {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.66);
  padding-bottom: 20px;
}

.select__card h2 {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.42);
  padding-bottom: 20px;
}

.select__card div button {
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.66);
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: lighter;
}

.select__card div button ~ button {
  margin-left: 15px;
}

.select__card div button:hover {
  color: rgba(0, 0, 0, 0.66);
  font-weight: bold;
}

.select__card div span {
  color: #fff;
}

.select__section:hover {
  opacity: 1.0;
}

.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  bottom: 0;
  padding: 10px 0;
  font-size: 12px;
  color: #fff;
  background-color: #ef3a5d;
  width: 100%;
  position: absolute;
}

.footer__section li {
  list-style: none;
  margin-left: 15px;
  color: #fff;
  font-size: 14px;
}

.clientregister__section {
  background-color: #fff;
  opacity: 0.9;
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: 20%;
  border-radius: 20px;
}

.clientregister__section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding: 40px;
}

.clientregister__section form input {
  border-radius: 10px;
  padding: 5px;
}

.clientregister__section form label {
  color: rgba(0, 0, 0, 0.66);
  font-weight: bold;
}

.submit-button {
  padding: 5px 5px;
  background-color: #ef3a5d;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 25%;
  margin: 20px auto 0 auto;
}

.listclients__section {
  background-color: #fff;
  opacity: 0.9;
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: 20%;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.walkers__section {
  background-image: url("../imgs/walkers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  max-height: 100%;
  background-position-y: -1005px;
}

.walkers__buttons {
  position: absolute;
  bottom: 8%;
  width: 100%;
}

.walkers__buttons button {
  padding: 10px 5px;
  background-color: rgba(0, 0, 0, 0.66);
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: lighter;
}

.walkers__buttons button ~ button {
  margin-left: 30px;
}

.walkersregister__section {
  background-color: #fff;
  opacity: 0.9;
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: 20%;
  border-radius: 20px;
}

.walkersregister__section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding: 40px;
}

.walkersregister__section form input {
  border-radius: 10px;
  padding: 5px;
}

.walkersregister__section form label {
  color: rgba(0, 0, 0, 0.66);
  font-weight: bold;
}

.submit-button {
  padding: 5px 5px;
  background-color: #ef3a5d;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 25%;
  margin: 20px auto 0 auto;
}

.listwalkers__section {
  background-color: #fff;
  opacity: 0.9;
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: 20%;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list__section {
  padding: 40px;
}

.list__section h2 {
  color: rgba(0, 0, 0, 0.66);
  margin-bottom: 5px;
}

.list__section p {
  font-size: 12px;
}

.clients__section {
  background-image: url("../imgs/clients.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  max-height: 100%;
  background-position-y: -300px;
}

.clients__buttons {
  position: absolute;
  bottom: 8%;
  width: 100%;
}

.clients__buttons button {
  padding: 10px 5px;
  background-color: rgba(0, 0, 0, 0.66);
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: lighter;
}

.clients__buttons button ~ button {
  margin-left: 30px;
}
/*# sourceMappingURL=style.css.map */