*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

a{
    text-decoration: none;
    cursor: pointer;
}

ul{
    list-style: none;
}
  
body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}