.listwalkers__section{
    background-color: $white;
    opacity: 0.9;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: 20%;
    border-radius: 20px;
    @include flex(space-evenly, row);
    flex-wrap: wrap;

    h1{
        color: $title-color;
        text-transform: uppercase;
        font-weight: bold;
    }
}