.nav__section{
    @include flex(space-around, center);

    img{
        width: 100%;
        max-width: 200px;
    }
}

.nav__menu{
    display: flex;

    li~li{
        margin-left: 15px;
    }

    a{
        color: $link-color;
        text-shadow: 1px 1px $text-color;
        border: 1px solid $link-color;
        border-radius: 5px;
        padding: 7px;
        font-size: 12px;
    }

    a:hover{
        background-color: $detail-color;
    }
}