//Colors
$cherry: #ef3a5d;
$white: #fff;
$light-grey: rgba(0,0,0,.42);
$dark-grey: rgba(0,0,0,.66);

$text-color: $light-grey;
$title-color: $dark-grey;
$link-color: $white;
$detail-color: $cherry;

//Size
$padding: 40px;
$font-size-text: 16px;
$font-size-title: 24px;