.walkers__section{
    background-image: url('../imgs/walkers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    max-height: 100%;
    background-position-y: -1005px;
}